# Advanced Objects

## 1. Advanced Numbers

Built-in functions to handle advanced representation or operations with numbers.

In [1]:
hex(12)

'0xc'

In [2]:
hex(451)

'0x1c3'

In [3]:
bin(1234)

'0b10011010010'

In [4]:
bin(128)

'0b10000000'

In [5]:
# Power
2**4 == pow(2,4)

True

In [7]:
# Power with modulus
# Two to the power of 4 modulus 15
pow(2,4,15)

1

In [8]:
abs(-100)

100

In [9]:
# Round functions: default to 0 decimal points
round(3.9)

4

In [10]:
round(3.141592,3)

3.142

## 2. Advanced Strings

Advanced functionality with strings

In [11]:
s = 'hello world'

In [12]:
s.capitalize()

'Hello world'

In [13]:
s.upper()

'HELLO WORLD'

In [14]:
s.lower()

'hello world'

In [15]:
s.count('o')

2

In [17]:
# Finds index of first ocurrence
s.find('o')

4

In [19]:
# Center the string:
# center(total_length,another_string)
s.center(20,'z')

'zzzzhello worldzzzzz'

In [20]:
'hello\thi'.expandtabs()

'hello   hi'

In [21]:
s = 'hello'
s.isalnum(), s.isalpha()

(True, True)

In [22]:
s.islower(),s.isspace()

(True, False)

In [23]:
s.istitle()

False

In [24]:
s.endswith('h')

False

### Regular expression with strings

In [25]:
s.split('e')

['h', 'llo']

In [26]:
'hellohello'.partition('ll')

('he', 'll', 'ohello')

# 3. Advanced sets

In [1]:
# Build a set
s = set()

In [2]:
s.add(1)
s.add(2)

In [3]:
s.add(2)
print(s)

{1, 2}

In [4]:
# Remove elements
s.clear()

In [6]:
s = {1,2,3}
sc = s.copy()
s.add(4)
print(s,sc)

{1, 2, 3, 4} {1, 2, 3}

In [7]:
# Difference of two or more sets
s.difference(sc)

{4}

In [11]:
# Difference with update s1.difference_update(s2)
# returns s1 - common elements from s2
s1 = {1,2,3}
s2 = {1,4,5}

In [12]:
s1.difference_update(s2)

In [13]:
s1

{2, 3}

In [16]:
# Discard an element of a set iff exists
# No error arises if element is not in set
s.discard(2)

In [17]:
s

{1, 3, 4}

In [20]:
# Intersection of two or more set, as a new set
# Intersection update actually updates the s1 with
# intersection elements
s1 = {1,2,3}
s2 = {1,2,4}
s3 = s1.intersection(s2)
s3

{1, 2}

In [21]:
# Method that returns True iff
# there's a NULL intersection
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [23]:
s1.isdisjoint(s2)

False

In [24]:
s1.isdisjoint(s3)

True

In [26]:
# Subset
s1.issubset(s2)

True

In [27]:
# Superset
s2.issuperset(s1)

True

In [28]:
# Symetric difference (and update)
# It's the opposite of the intersection
s1.symmetric_difference(s2)

{4}

In [36]:
# Union of two sets
s1.union(s2)
s1.update(s2)
s1

{1, 2, 4}

# 4. Advanced Dictionaries

In [37]:
d = {'k1':1, 'k2':2}

In [39]:
# Dictionary comprehension: not so common
# because it's not easily readable
{x: x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [40]:
{k:v**2 for k,v in zip(['a','b'],range(2))}

{'a': 0, 'b': 1}

In [41]:
# Iteration over K, V or Items
for k in d.items():
    print(k)

('k1', 1)
('k2', 2)

# 5. Advanced Lists

Methods like ```append```, ```count``` are already known.

In [42]:
x = [1,2,3]
x.append([4,5])

In [43]:
print(x)

[1, 2, 3, [4, 5]]

In [47]:
# "Appends" elements individually
x = [1,2,3]
x.extend([4,5])
x

[1, 2, 3, 4, 5]

In [48]:
l = [1,2,3,4]

In [49]:
l.index(2)

1

In [53]:
# insert(index,object)
l = [1,2,3,4]
print (l)
l.insert(2,'new object')
l

[1, 2, 3, 4]

[1, 2, 'new object', 3, 4]